
*{
    padding: 2px;
    
}
.a{
    font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.b{
    font-size: 25px;
}
.c{
    
    font-size: 15px;
}
.d{
    color: grey;
}
.e{
    color: black;
    font-size: medium ;
}
.f{
font-size: small;
}
.btn1{
    background-color: orange;
    color: white;
    height: 50px;
}
.btn2{
    background-color: yellow;
    color: white;
    height: 50px;
    font-weight: 30px;
}